/*  google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600&family=Prompt&family=Roboto&display=swap');

/* styles */

.poppins {
    font-family: 'Poppins', sans-serif;
}

.white {
    color: white;
}

.star-color {
    color: yellow;
}

/* Header  */