/*  google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600&family=Prompt&family=Roboto&display=swap');

/* styles */

.poppins {
    font-family: 'Poppins', sans-serif;
}

.white {
    color: white;
}

.star-color {
    color: yellow;
}

/* Header  */
.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

.slider-image {
    background-blend-mode: luminosity;
}

/* Body  */
.bg-color {
    background-color: #289BDE;
}

.position-left {
    position: absolute;
    left: -40px;
}

.position-right {
    position: absolute;
    left: 65px;
}

/* Footer */
.footer-decoration {
    background-color: #161616;
    height: 472px;
    min-height: 249px;
}